<!-- ======= Blog Section ======= -->
<section class="py-5">
    <div class="container" data-aos="fade-up">

        <div class="row">

            <div class="col-lg-8 entries">
                <!-- Start blog entry -->
                <app-job-item *ngFor="let job of jobs" [job]="job"></app-job-item>

                <!-- End blog entry -->
            </div>
            <!-- End blog entries list -->

            <div class="col-lg-4">

                <div class="sidebar">

                    <h3 class="sidebar-title">Поиск</h3>
                    <div class="sidebar-item search-form" disabled>
                        <form action="">
                            <input type="text" disabled>
                            <button type="submit" disabled><i class="bi bi-search"></i></button>
                        </form>
                    </div>
                    <!-- End sidebar search form-->

                    <h3 class="sidebar-title">Категории</h3>
                    <div class="sidebar-item categories">
                        <ul>
                            <li><a>General <span>(25)</span></a></li>
                            <li><a>Lifestyle <span>(12)</span></a></li>
                            <li><a>Travel <span>(5)</span></a></li>
                            <li><a>Design <span>(22)</span></a></li>
                            <li><a>Creative <span>(8)</span></a></li>
                            <li><a>Educaion <span>(14)</span></a></li>
                        </ul>
                    </div>
                    <!-- End sidebar categories-->

                </div>
                <!-- End sidebar -->

            </div>
            <!-- End blog sidebar -->

        </div>

    </div>
</section>
<!-- End Blog Section -->