<!-- ======= Hero Section ======= -->
<!-- ======= Header ======= -->
<header id="header" class="header fixed-top" *ngIf="isAuthenticated">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

        <a href="index.html" class="logo d-flex align-items-center">
            <span>BeepKey</span>
        </a>

        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto active" href="#hero">Главная страница</a></li>
                <li><a class="nav-link scrollto" href="#about">О нас</a></li>
                <li><a class="nav-link scrollto" href="#services">Дальнейшие планы</a></li>
                <li><a class="nav-link scrollto" href="#team">Наша команда</a></li>
                <li><a class="getstarted scrollto" (click)="open(loginModal)">Присоединиться</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
        <!-- .navbar -->

    </div>
</header>
<!-- End Header -->
<section id="hero" class="hero d-flex align-items-center">

    <div class="container">
        <div class="row">
            <div class="col-lg-6 d-flex flex-column justify-content-center">
                <h1 data-aos="fade-up">Новый подход к привычному делу</h1>
                <h2 data-aos="fade-up" data-aos-delay="400">Найти работу? Легко!</h2>
                <div data-aos="fade-up" data-aos-delay="600">
                    <div class="text-center text-lg-start">
                        <a href="#about"
                            class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
                            <span>Попробовать</span>
                            <i class="bi bi-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
                <img src="assets/img/hero-img.png" class="img-fluid" alt="">
            </div>
        </div>
    </div>

</section>
<!-- End Hero -->

<main id="main">
    <!-- ======= About Section ======= -->
    <section id="about" class="about">

        <div class="container" data-aos="fade-up">
            <div class="row gx-0">

                <div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
                    <div class="content">
                        <h3>Кто мы?</h3>
                        <h2>BeepKey!</h2>
                        <p>
                            Мы студенты ДГТУ. Факультет ИиВТ, 4 курс.<br> Командная работа - вот что нас
                            объединяет!<br><br> Хакатон - это одна из возможностей проявить себя, выявить не только свои
                            слабые стороны, но и команды. Понять дальнейший путь
                            изучения IT. Хакатон за 72 часа позволяет познакомиться с ребятами и работодателями.
                            Обсудить различные проблемы, а так же подискутировать на темы IT и не только.
                        </p>
                        <!-- <div class="text-center text-lg-start">
                            <a href="#" class="btn-read-more d-inline-flex align-items-center justify-content-center align-self-center">
                                <span>Read More</span>
                                <i class="bi bi-arrow-right"></i>
                            </a>
                        </div> -->
                    </div>
                </div>

                <div class="col-lg-6 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
                    <img src="assets/img/about.png" class="img-fluid" alt="">
                </div>

            </div>
        </div>

    </section>
    <!-- End About Section -->


    <!-- ======= Services Section ======= -->
    <section id="services" class="services">

        <div class="container" data-aos="fade-up">

            <header class="section-header">
                <h2>Дальнейшие планы</h2>
                <p>Возможные пути развития проекта</p>
            </header>

            <div class="row gy-4">

                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
                    <div class="service-box blue">
                        <i class="ri-discuss-line icon"></i>
                        <h3>Функциональность</h3>
                        <p>За такой корокий промежуток времени достаточно сложно реализовать полностью работоспособный
                            проект и именно по этому расширение функционала в дальнейшем это важно и необходимо.</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
                    <div class="service-box orange">
                        <i class="ri-discuss-line icon"></i>
                        <h3>Нейронные сети</h3>
                        <p>Поскольку одним из необходимых этапов является видеоинтервью мы можем использовать это в
                            качестве анализа предполагаемого работника</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
                    <div class="service-box green">
                        <i class="ri-discuss-line icon"></i>
                        <h3>UX/UI design</h3>
                        <p>Разработка качественного дизайна требует достаточно большого времени, которого в рамках
                            Хакатона совсем недостаточно и именно поэтому использования бесплатных шаблонов выручило
                            нас, но не является хорошей практикой</p>
                    </div>
                </div>
            </div>

        </div>

    </section>
    <!-- End Services Section -->


    <!-- ======= Team Section ======= -->
    <section id="team" class="team">

        <div class="container" data-aos="fade-up">

            <header class="section-header">
                <h2>наша Команда</h2>
                <p>BeepKey team</p>
            </header>

            <div class="row gy-4">

                <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                    <div class="member">
                        <div class="member-img">
                            <img src="assets/img/team/team-1.jpg" class="img-fluid" alt="">
                        </div>
                        <div class="member-info">
                            <h4>Мохаммад Закут</h4>
                            <span>Team Lead</span>
                            <!-- <p>Velit aut quia fugit et et. Dolorum ea voluptate vel tempore tenetur ipsa quae aut. Ipsum exercitationem iure minima enim corporis et voluptate.</p> -->
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                    <div class="member">
                        <div class="member-img">
                            <img src="assets/img/team/team-2.jpg" class="img-fluid" alt="">
                        </div>
                        <div class="member-info">
                            <h4>Ольга Токарева</h4>
                            <span>Frontend developer</span>
                            <!-- <p>Quo esse repellendus quia id. Est eum et accusantium pariatur fugit nihil minima suscipit corporis. Voluptate sed quas reiciendis animi neque sapiente.</p> -->
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
                    <div class="member">
                        <div class="member-img">
                            <img src="assets/img/team/team-3.jpg" class="img-fluid" alt="">
                        </div>
                        <div class="member-info">
                            <h4>Алексей Сиряков</h4>
                            <span>Team Manager</span>
                            <!-- <p>Vero omnis enim consequatur. Voluptas consectetur unde qui molestiae deserunt. Voluptates enim aut architecto porro aspernatur molestiae modi.</p> -->
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
                    <div class="member">
                        <div class="member-img">
                            <img src="assets/img/team/team-4.jpg" class="img-fluid" alt="">
                        </div>
                        <div class="member-info">
                            <h4>Илья Хамидуллин</h4>
                            <span>Backend developer</span>
                            <!-- <p>Rerum voluptate non adipisci animi distinctio et deserunt amet voluptas. Quia aut aliquid doloremque ut possimus ipsum officia.</p> -->
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </section>
    <!-- End Team Section -->
</main>
<!-- End #main -->


<ng-template let-modal #loginModal>
    <div class="modal-body">
        <div class="d-flex flex-column justify-content-center">
            <form [formGroup]="loginFG" class="px-3" (ngSubmit)="login()">
                <mat-form-field appearance="outline" style="width:100%">
                    <mat-label>
                        Email
                    </mat-label>
                    <input matInput type="email" autocomplete="off" formControlName="email" required>
                    <mat-error>

                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" style="width:100%">
                    <mat-label>
                        Password
                    </mat-label>
                    <input matInput type="password" autocomplete="off" formControlName="password" required>
                </mat-form-field>
                <div class="align-content-center">
                    <button [disabled]="!loginFG.valid" type="submit" class=" btn btn-lg btn-primary">
                        <span *ngIf="loginProgress" aria-hidden="true" class="spinner-border spinner-border-sm"
                            role="status"></span>
                        {{ "btns.login" | translate }}
                    </button>
                </div>
            </form>
        </div>
    </div>
</ng-template>