<section class="py-5">
    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
        <div class="container">

            <div class="row  ">
                <div class="col-lg-3">
                    <div class="text-center mb-2">
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-success" disabled>Хорошо</button>
                            <button type="button" class="btn btn-warning">Возможно</button>
                            <button type="button" class="btn btn-danger">Отказано</button>
                        </div>
                    </div>
                    <div class="portfolio-info">
                        <h3>M0x1di Zakut</h3>
                        <ul>
                            <li><strong>Status</strong>: <span class="text-success">Хорошо</span></li>
                            <li><strong>Date</strong>: yesterday</li>
                            <li><strong>About</strong>: good human</li>
                        </ul>
                    </div>
                    <div class="portfolio-description">
                        <h2>Выбор человека</h2>
                        <div>
                            <mat-selection-list #shoes [multiple]="false" *ngIf="proposals.length">
                                <mat-list-option *ngFor="let proposal of proposals" [value]="proposal.user">
                                    {{proposal.user.name}}
                                </mat-list-option>
                            </mat-selection-list>
                        </div>
                    </div>
                </div>

                <div class="col-lg-9">
                    <div class="portfolio-details-slider swiper">
                        <div class="swiper-wrapper align-items-center">
                            <div class="swiper-slide">
                                <div class="col-lg-12 flex-column">
                                    <div class="d-flex flex-row">
                                        <div class="d-flex flex-column border border-secondary p-4" style="width:80%">
                                            <h3>Q1: About you</h3>
                                            <b>Officiis quisquam ipsam rerum a quasi</b>
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. suscipit
                                                praesentium
                                                eligendi eius sunt, ipsa vitae totam nisi, saepe maxime, impedit debitis
                                                sint dolorem sapiente?</p>
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis
                                                quisquam
                                                ipsam rerum a quasi suscipit praesentium eligendi eius sunt, ipsa vitae
                                                totam nisi, saepe maxime, impedit debitis sint dolorem sapiente?
                                            </p>


                                            <video id="video" controls="true" crossorigin="anonymous"
                                                src="Big_Buck_Bunny_Trailer.webm" type="video/webm"></video>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="col-lg-12 flex-column">
                                    <div class="d-flex flex-row">
                                        <div class="d-flex flex-column border border-secondary p-4" style="width:80%">
                                            <h3>Q2: Why me?</h3>
                                            <b>Officiis quisquam ipsam rerum a quasi</b>
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. suscipit
                                                praesentium
                                                eligendi eius sunt, ipsa vitae totam nisi, saepe maxime, impedit debitis
                                                sint dolorem sapiente?</p>
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis
                                                quisquam
                                                ipsam rerum a quasi suscipit praesentium eligendi eius sunt, ipsa vitae
                                                totam nisi, saepe maxime, impedit debitis sint dolorem sapiente?
                                            </p>

                                            <video id="video" controls="true" crossorigin="anonymous"
                                                src="Big_Buck_Bunny_Trailer.webm" type="video/webm"></video>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="col-lg-12 flex-column">
                                    <div class="d-flex flex-row">
                                        <div class="d-flex flex-column border border-secondary p-4" style="width:80%">
                                            <h3>Q3: And what?</h3>
                                            <b>Officiis quisquam ipsam rerum a quasi</b>
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. suscipit
                                                praesentium
                                                eligendi eius sunt, ipsa vitae totam nisi, saepe maxime, impedit debitis
                                                sint dolorem sapiente?</p>
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis
                                                quisquam
                                                ipsam rerum a quasi suscipit praesentium eligendi eius sunt, ipsa vitae
                                                totam nisi, saepe maxime, impedit debitis sint dolorem sapiente?
                                            </p>

                                            <video id="video" controls="true" crossorigin="anonymous"
                                                src="Big_Buck_Bunny_Trailer.webm" type="video/webm"></video>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
            </div>


        </div>

    </section>
    <!-- End Portfolio Details Section -->
</section>