<section class="py-5">
    <div class="container" data-aos="fade-up">


        <mat-stepper [linear]="!isLinear" #stepper>
            <mat-step [stepControl]="firstFormGroup">
                <ng-template matStepLabel> General info</ng-template>
                <div class=" my-2 py-2">
                    <job-general-info [formGroup]="firstFormGroup"></job-general-info>
                </div>

            </mat-step>
            <mat-step>
                <ng-template matStepLabel>Description</ng-template>
                <div class=" my-2 py-2">
                    <job-desc></job-desc>
                </div>
            </mat-step>
            <mat-step [stepControl]="secondFormGroup" label="Requirements">

                <div class=" my-2 py-2">
                    <job-additional></job-additional>
                </div>
            </mat-step>
        </mat-stepper>

    </div>
</section>