/* Chrome, Safari, Edge, Opera */
input[matInput]::-webkit-outer-spin-button,
input[matInput]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[matInput][type="number"] {
    -moz-appearance: textfield;
}
