<article class="entry entry-single">

    <div class="d-flex flex-column my-2">

        <div class="border p-4">
            <h3 class="fw-bold fs-5 text-primary">Introduction</h3>
            <hr>
            <div>
                <div class="d-flex flex-column" *ngFor="let item of introQuestions ; let i=index">
                    <h4>Q{{i+1}} Title: {{item.title}}</h4>
                    <p> <b>Type</b> : {{item.type}}</p>
                    <p> <b>Length</b>: {{item.length}} </p>
                </div>
            </div>
            <div>
                <button mat-icon-button  class="btn btn-outline-primary" (click)="addIntro(add_Intro,true)">
                    <mat-icon>add</mat-icon>
                </button>
            </div>
        </div>
        <div class="border p-4">
            <h3 class="fw-bold fs-5 text-primary">Experience</h3>

            <hr>
            <p>
                Here you can ask more about the freelancer Experience
            </p>
            <div>
                <div class="d-flex flex-column" *ngFor="let item of expQuestions ; let i=index">
                    <h4>Q{{i+1}} Title: {{item.title}}</h4>
                    <p> <b>Type</b> : {{item.type}}</p>
                    <p> <b>Length</b>: {{item.length}} </p>
                </div>
            </div>
            <div>
                <button mat-icon-button class="btn btn-primary" (click)="addIntro(add_Intro,false)">
                    <mat-icon>add</mat-icon>
                </button>
            </div>
        </div>
    </div>
    <div class="text-end">
        <button mat-button matStepperNext> Next </button>
    </div>
</article>
<ng-template let-modal #add_Intro>
    <div class="modal-header">
        <h4 class="m-0 modal-title">Fill the following</h4>
    </div>
    <div class="modal-body">
        <div class="d-flex flex-column justify-content-center">

            <form [formGroup]="tempFb" (ngSubmit)="modal.close()">
                <mat-form-field appearance="outline" style="width:100%">
                    <mat-label>
                        Title
                    </mat-label>
                    <input matInput type="text" formControlName="title">
                </mat-form-field>

                <mat-label>
                    Answer Type
                </mat-label>
                <mat-radio-group #radio class="my-2" formControlName="type" color="primary">
                    <mat-radio-button class="px-2" [value]="answerType.text">Text</mat-radio-button>
                    <mat-radio-button class="px-2" [value]="answerType.video">Video</mat-radio-button>
                </mat-radio-group>


                <mat-form-field class="mt-2" appearance="outline" style="width:100%">
                    <mat-label>
                        Length
                    </mat-label>
                    <input matInput type="number" formControlName="length">
                </mat-form-field>


                <button mat-button type="submit"> Add </button>
            </form>
        </div>
    </div>
</ng-template>