<section class="container bg-light py-4">
    <div class="d-flex flex-column">
        <div class="p-2 text-center">
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>Вопрос 1: </strong>Расскажи о своей мотивации работать у нас
                <button type="button" class="btn-close" aria-label="Close"></button>
            </div>
        </div>
        <div class="p-3 text-center ">
            <div class="text-center">

                <video #videoElement>
                    <source *ngIf="!isVideoRecording && videoBlobUrl" [src]="videoBlobUrl">
                </video>

                <div class="d-flex flex-column">
                    <mat-progress-bar *ngIf="stopRecording" mode="determinate" [value]="progress"></mat-progress-bar>
                </div>
            </div>

        </div>
        <div class="d-flex justify-content-center text-center">

            <button *ngIf="startRecording" class="btn btn-primary mx-3" (click)="startVideoRecording()"><i
                    class="fas fa-video mx-2"></i></button>

            <button *ngIf="stopRecording" (click)="stopVideoRecording()" class="btn btn-primary mx-3"><i
                    class="fas fa-video-slash mx-2"></i></button>

            <button *ngIf="redoRecording" class="btn btn-primary mx-3" (click)="clearVideoRecordedData()">
                <i class="fas fa-redo "></i>
            </button>
        </div>
        <div class="d-flex flex-column justify-content-center " *ngIf="videoBlobUrl">
            <div class="text-center">
                <mat-radio-group color="primary" aria-label="Select an option" value="0"
                    (change)="applyFilter($event.value)">
                    <mat-radio-button value="0">None</mat-radio-button>
                    <mat-radio-button value="1">Filter 1</mat-radio-button>
                    <mat-radio-button value="2">Filter 2</mat-radio-button>
                    <mat-radio-button value="3">Filter 3</mat-radio-button>
                    <mat-radio-button value="4">Filter 4</mat-radio-button>
                    <mat-radio-button value="5">Filter 5</mat-radio-button>
                </mat-radio-group>
            </div>

            <div class="text-center" #effectPreview></div>
        </div>
    </div>
</section>