<article class="entry entry-single">
    <div class="d-flex justify-content-evenly  ">

        <mat-form-field appearance="outline" style="width: 80%;">
            <mat-label>
                Сфера деятельности
            </mat-label>
            <mat-select>
                <mat-option value="0">IT</mat-option>
                <mat-option value="1">Cooking</mat-option>
                <mat-option value="2">Medical</mat-option>
                <mat-option value="3">Engineer</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="ms-2" appearance="outline" style="width: 85%;">
            <mat-label>
                Employed type
            </mat-label>
            <mat-select>
                <mat-option selected disabled>Select One</mat-option>
                <mat-option value="1">Full-time job</mat-option>
                <mat-option value="2">Part time </mat-option>
                <mat-option value="3">One time job</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="ms-2" appearance="outline" style="width: 85%;">
            <mat-label>
                Сфера деятельности
            </mat-label>
            <mat-select>
                <mat-option value="0">IT</mat-option>
                <mat-option value="1">Cooking</mat-option>
                <mat-option value="2">Medical</mat-option>
                <mat-option value="3">Enginer</mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div class="d-flex justify-content-evenly">
        <mat-form-field appearance="outline" style="width: 80%;">
            <mat-label>
                {{'job_info.city'|translate}}
            </mat-label>
            <input matInput type="text" placeholder="{{'job_info.city'|translate}}">
        </mat-form-field>

        <mat-form-field appearance="outline" class="ms-2" appearance="outline" style="width: 85%;">
            <mat-label>
                {{'job_info.state'|translate}}
            </mat-label>
            <input matInput type="text" placeholder="{{'job_info.city'|translate}}">
        </mat-form-field>

        <mat-form-field appearance="outline" class="ms-2" appearance="outline" style="width: 85%;">
            <mat-label>
                {{'job_info.zip'|translate}}
            </mat-label>
            <input matInput type="text" placeholder="{{'job_info.city'|translate}}">
        </mat-form-field>


    </div>

    <form>

        <div class="row pt-4">
            <div class="col-4">
                <input class="form-control" list="datalistOptions" id="exampleDataList"
                    placeholder="{{'job_info.experience'|translate}}">
                <datalist id="datalistOptions">
                    <option value="{{'job_info.exp_type1'|translate}}">
                    </option>
                    <option value="{{'job_info.exp_type2'|translate}}">
                    </option>
                    <option value="{{'job_info.exp_type3'|translate}}">
                    </option>
                    <option value="{{'job_info.exp_type4'|translate}}">
                    </option>
                </datalist>
            </div>
            <div class="col-3">
                <input type="text" class="form-control" placeholder="{{'job_info.pay_rate'|translate}}">
            </div>
        </div>
    </form>

    <div class="entry-footer mt-4">
        <div class="text-end mt-2">
            <button mat-button matStepperNext>Next</button>
        </div>
    </div>

</article>