.entry {
    padding: 30px;
    margin-bottom: 60px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    .entry-img {
        max-height: 440px;
        margin: -30px -30px 20px -30px;
        overflow: hidden;
    }
    .entry-title {
        font-size: 28px;
        font-weight: bold;
        padding: 0;
        margin: 0 0 20px 0;
        a {
            text-decoration: none !important;
            color: #012970;
            transition: 0.3s;
            &:hover {
                color: #4154f1;
            }
        }
    }
    .entry-meta {
        margin-bottom: 15px;
        color: #4084fd;
        ul {
            display: flex;
            flex-wrap: wrap;
            list-style: none;
            align-items: center;
            padding: 0;
            margin: 0;
            li + li {
                padding-left: 20px;
            }
            i {
                font-size: 16px;
                margin-right: 8px;
                line-height: 0;
            }
            a {
                color: #777777;
                font-size: 14px;
                display: inline-block;
                line-height: 1;
                text-decoration: none !important;
            }
        }
    }
    .entry-content {
        p {
            line-height: 24px;
        }
        .read-more {
            -moz-text-align-last: right;
            text-align-last: right;
            a {
                display: inline-block;
                background: #4154f1;
                color: #fff;
                padding: 6px 20px;
                transition: 0.3s;
                font-size: 14px;
                border-radius: 4px;
                &:hover {
                    background: #5969f3;
                }
            }
        }
        h3 {
            font-size: 22px;
            margin-top: 30px;
            font-weight: bold;
        }
        blockquote {
            overflow: hidden;
            background-color: #fafafa;
            padding: 60px;
            position: relative;
            text-align: center;
            margin: 20px 0;
            p {
                color: #444444;
                line-height: 1.6;
                margin-bottom: 0;
                font-style: italic;
                font-weight: 500;
                font-size: 22px;
            }
            &::after {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
                width: 3px;
                background-color: #012970;
                margin-top: 20px;
                margin-bottom: 20px;
            }
        }
    }
    
    .entry-footer {
        padding-top: 10px;
        border-top: 1px solid #e6e6e6;
        i {
            color: #0d64fd;
            display: inline;
        }
        a {
            color: #013289;
            transition: 0.3s;
            text-decoration: none !important;
            &::hover {
                color: #4154f1;
            }
        }
        .cats {
            list-style: none;
            display: inline;
            padding: 0 20px 0 0;
            font-size: 14px;
            li {
                display: inline-block;
            }
        }

        .tags {
            list-style: none;
            display: inline;
            padding: 0;
            font-size: 14px;
            li {
                display: inline-block;
            }
            li + li::before {
                padding-right: 6px;
                color: #6c757d;
                content: ",";
            }
        }

        .share {
            font-size: 16px;
            i {
                padding-left: 5px;
            }
        }
    }
}

// .*************************************
.entry-single {
    margin-bottom: 30px;
}

-author {
    padding: 20px;
    margin-bottom: 30px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}
-author img {
    width: 120px;
    margin-right: 20px;
}
-author h4 {
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 0px;
    padding: 0;
    color: #012970;
}
-author .social-links {
    margin: 0 10px 10px 0;
}
-author .social-links a {
    color: rgba(1, 41, 112, 0.5);
    margin-right: 5px;
}
-author p {
    font-style: italic;
    color: #b7b7b7;
}
-comments {
    margin-bottom: 30px;
}
-comments .comments-count {
    font-weight: bold;
}
-comments .comment {
    margin-top: 30px;
    position: relative;
}
-comments .comment .comment-img {
    margin-right: 14px;
}
-comments .comment .comment-img img {
    width: 60px;
}
-comments .comment h5 {
    font-size: 16px;
    margin-bottom: 2px;
}
-comments .comment h5 a {
    font-weight: bold;
    color: #444444;
    transition: 0.3s;
}
-comments .comment h5 a:hover {
    color: #4154f1;
}
-comments .comment h5 .reply {
    padding-left: 10px;
    color: #012970;
}
-comments .comment h5 .reply i {
    font-size: 20px;
}
-comments .comment time {
    display: block;
    font-size: 14px;
    color: #013ca3;
    margin-bottom: 5px;
}
-comments .comment.comment-reply {
    padding-left: 40px;
}
-comments .reply-form {
    margin-top: 30px;
    padding: 30px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}
-comments .reply-form h4 {
    font-weight: bold;
    font-size: 22px;
}
-comments .reply-form p {
    font-size: 14px;
}
-comments .reply-form input {
    border-radius: 4px;
    padding: 10px 10px;
    font-size: 14px;
}
-comments .reply-form input:focus {
    box-shadow: none;
    border-color: #a0aaf8;
}
-comments .reply-form textarea {
    border-radius: 4px;
    padding: 10px 10px;
    font-size: 14px;
}
-comments .reply-form textarea:focus {
    box-shadow: none;
    border-color: #a0aaf8;
}
-comments .reply-form .form-group {
    margin-bottom: 25px;
}
-comments .reply-form .btn-primary {
    border-radius: 4px;
    padding: 10px 20px;
    border: 0;
    background-color: #012970;
}
-comments .reply-form .btn-primary:hover {
    background-color: #013289;
}
-pagination {
    color: #024ed5;
}
-pagination ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}
-pagination li {
    margin: 0 5px;
    transition: 0.3s;
}
-pagination li a {
    color: #012970;
    padding: 7px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}
-pagination li.active,
-pagination li:hover {
    background: #4154f1;
}
-pagination li.active a,
-pagination li:hover a {
    color: #fff;
}
.sidebar {
    padding: 30px;
    margin: 0 0 60px 20px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}
.sidebar .sidebar-title {
    font-size: 20px;
    font-weight: 700;
    padding: 0 0 0 0;
    margin: 0 0 15px 0;
    color: #012970;
    position: relative;
}
.sidebar .sidebar-item {
    margin-bottom: 30px;
}
.sidebar .search-form form {
    background: #fff;
    border: 1px solid #ddd;
    padding: 3px 10px;
    position: relative;
}
.sidebar .search-form form input[type="text"] {
    border: 0;
    padding: 4px;
    border-radius: 4px;
    width: calc(100% - 40px);
}
.sidebar .search-form form button {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border: 0;
    background: none;
    font-size: 16px;
    padding: 0 15px;
    margin: -1px;
    background: #4154f1;
    color: #fff;
    transition: 0.3s;
    border-radius: 0 4px 4px 0;
    line-height: 0;
}
.sidebar .search-form form button i {
    line-height: 0;
}
.sidebar .search-form form button:hover {
    background: #5465f2;
}
.sidebar .categories ul {
    list-style: none;
    padding: 0;
}
.sidebar .categories ul li + li {
    padding-top: 10px;
}
.sidebar .categories ul a {
    color: #012970;
    transition: 0.3s;
}
.sidebar .categories ul a:hover {
    color: #4154f1;
}
.sidebar .categories ul a span {
    padding-left: 5px;
    color: #aaaaaa;
    font-size: 14px;
}
.sidebar .recent-posts .post-item + .post-item {
    margin-top: 15px;
}
.sidebar .recent-posts img {
    width: 80px;
    float: left;
}
.sidebar .recent-posts h4 {
    font-size: 15px;
    margin-left: 95px;
    font-weight: bold;
}
.sidebar .recent-posts h4 a {
    color: #012970;
    transition: 0.3s;
}
.sidebar .recent-posts h4 a:hover {
    color: #4154f1;
}
.sidebar .recent-posts time {
    display: block;
    margin-left: 95px;
    font-style: italic;
    font-size: 14px;
    color: #aaaaaa;
}
.sidebar .tags {
    margin-bottom: -10px;
}
.sidebar .tags ul {
    list-style: none;
    padding: 0;
}
.sidebar .tags ul li {
    display: inline-block;
}
.sidebar .tags ul a {
    color: #0257ee;
    font-size: 14px;
    padding: 6px 14px;
    margin: 0 6px 8px 0;
    border: 1px solid #d7e6ff;
    display: inline-block;
    transition: 0.3s;
}
.sidebar .tags ul a:hover {
    color: #fff;
    border: 1px solid #4154f1;
    background: #4154f1;
}

.sidebar .tags ul a span {
    padding-left: 5px;
    color: #a5c5fe;
    font-size: 14px;
}
