<article class="entry">
    <h2 class="entry-title">
        <a [routerLink]="['/job']" [queryParams]="{ id: job.id}">{{job?job.title:''}}</a>
    </h2>

    <div class="entry-meta">
        <ul>
            <li class="d-flex align-items-center "><i class="bi bi-person"></i>
                <a class="text-decoration-none">

                    {{job?job.company.name:''}}
                </a>
            </li>
            <li class="d-flex align-items-center"><i class="bi bi-clock"></i>
                <a>
                    <time datetime="2020-01-01">
                        {{job?(job.createdAt|date):''}}

                    </time></a>
            </li>
            <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i>
                <a>{{job.proposals.length}}
                    откликов</a>
            </li>
        </ul>
    </div>


    <div class="entry-content">
        <p>
            {{job?job.description:''}}

        </p>
        <div class="read-more">
            <a [routerLink]="['/job']" [queryParams]="{ id: job.id}" class="btn text-decorator-none">Открыть
                вакансию</a>
        </div>
    </div>

</article>
<!-- End blog entry -->