<!-- ======= Blog Section ======= -->
<section class="py-5">
    <div class="container" data-aos="fade-up">
        <!-- Start blog entry -->
        <app-my-job style="width: 100%;" *ngFor="let job of jobs" [job]="job"></app-my-job>
        <!-- End blog entry -->
    </div>
</section>
<!-- End Blog Section -->