$medium-pale-bg: #f1eae0 !default;

$primary: #4468a4;
$green: #1bad2b;
$red: #e6411a;
$primary-dark: #003554;
$primary-light: #156cc4;
$orange: #ec5512;
$bg-blue: $primary;
/* global style */
:root {
    --color-primary: #4468a4;
    --color-secondary: #93a3bd;
    --text-primary_2: #505d68;
    --text-primary_3: #a1aeb7;
    --color-soft-blue: #d1d7e1;
    --color-soft-white: #f5f5f5;
    --color-black: #000000;
    --color-white: #ffffff;
    --text-gray: #707070;
    --text-gray_2: #8e8e8e;
}

.color-primary {
    color: var(--color-primary) !important;
}

.bg-primary {
    background-color: var(--color-primary) !important;
}

.color-secondary {
    color: var(--color-secondary);
}

.bg-secondary {
    background-color: var(--color-secondary);
}

.color-soft-blue {
    color: var(--color-soft-blue);
}

.bg-soft-blue {
    background-color: var(--color-soft-blue);
}

.color-soft-white {
    color: var(--color-soft-white);
}

.bg-soft-white {
    background-color: var(--color-soft-white);
}

.color-black {
    color: var(--color-black);
}

.bg-black {
    background-color: var(--color-black);
}

.color-white {
    color: var(--color-white);
}

.bg-white {
    background-color: var(--color-white);
}

.text-gray_2 {
    color: var(--text-gray);
}

.text-primary_2 {
    color: var(--text-primary_2);
}

.text-primary_3 {
    color: var(--text-primary_3);
}

.border-r-4 {
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.font-900 {
    font-weight: 900;
}

.out-line-border-primary {
    border: 1px solid var(--color-primary);
}
