<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-5 py-2">
        <a class="navbar-brand" routerLink="/">BeepKey</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/jobs">Найти работу</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/freelancers">Найти работника</a>
                </li>
            </ul>
            <a *ngIf="!user" class="btn mx-2" (click)="open(loginModal)">{{'btns.login'|translate}}</a>
            <a *ngIf="!user" class="btn btn-outline-primary mx-2"
                (click)="open(registerModal)">{{'btns.register'|translate}}</a>

            <div *ngIf="user">
                Hello, <a class="text-primary text-decoration-none fw-bold" routerLink="/dashboard">{{user.name}}</a>
            </div>
        </div>
    </div>
</nav>

<bread-crumbs></bread-crumbs>

<ng-template let-modal #loginModal>
    <div class="modal-header">
        <h4 class="m-0 modal-title fw-bold fs-4">Login</h4>
    </div>
    <div class="modal-body">
        <div class="d-flex flex-column justify-content-center">
            <form [formGroup]="loginFG" class="px-3" (ngSubmit)="login()">
                <mat-form-field appearance="outline" style="width:100%">
                    <mat-label>
                        Email
                    </mat-label>
                    <input matInput type="email" autocomplete="off" formControlName="email" required>
                    <mat-error>

                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" style="width:100%">
                    <mat-label>
                        Password
                    </mat-label>
                    <input matInput type="password" autocomplete="off" formControlName="password" required>
                </mat-form-field>
                <div class="align-content-center">
                    <button [disabled]="!loginFG.valid" type="submit" class=" btn btn-lg btn-primary">
                        <span *ngIf="loginProgress" aria-hidden="true" class="spinner-border spinner-border-sm"
                            role="status"></span>
                        {{ "btns.login" | translate }}
                    </button>
                </div>
            </form>
        </div>
    </div>
</ng-template>

<ng-template let-modal #registerModal>
    <div class="modal-header">
        <h4 class="m-0 modal-title fw-bold fs-4">Register</h4>
    </div>
    <div class="modal-body">

        <div class=" d-flex flex-column justify-content-center align-items-center">
            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2 text-center">{{'register.h3'|translate}}</h3>

            <div class="d-flex justify-content-center pb-4">
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-primary active">{{'btns.applicant'|translate}}</button>
                    <button type="button" class="btn btn-primary">{{'btns.employer'|translate}}</button>
                </div>
            </div>


            <form class="px-md-2">
                <div class="form-outline mb-4">
                    <input type="text" id="form3Example1q" class="form-control"
                        placeholder="{{'register.company_name'|translate}}" required />
                </div>

                <div class="row">
                    <div class="col-md-6 mb-4">
                        <div class="form-outline">
                            <input type="text" id="form3Example1q" class="form-control"
                                placeholder="{{'register.name'|translate}}" required />

                        </div>
                    </div>
                    <div class="col-md-6 mb-4">
                        <input type="text" id="form3Example1q" class="form-control"
                            placeholder="{{'register.surname'|translate}}" required />
                    </div>
                </div>

                <div class="form-outline mb-4">
                    <input type="email" class="form-control" id="exampleInputEmail1"
                        placeholder="{{'register.email'|translate}}" aria-describedby="emailHelp" required>
                </div>

                <div class="form-outline mb-4">
                    <input type="password" class="form-control" id="exampleInputPassword1"
                        placeholder="{{'register.password'|translate}}" required>
                </div>



                <div class="d-flex justify-content-center pb-4">
                    <div class="form-outline">
                        <button type="submit" class="btn btn-success btn-lg mb-1">{{'btns.register'|translate}}</button>
                    </div>
                </div>
            </form>


        </div>


    </div>

</ng-template>