<!-- ======= Blog Single Section ======= -->
<section class="vh-100 py-5">
    <div class="container" data-aos="fade-up">

        <div class="row">

            <div class="col-lg-8 entries">

                <article class="entry entry-single">
                    <h2 class="entry-title">
                        <a href="blog-single.html">Junior Frontend Developer</a>
                    </h2>

                    <div class="entry-meta">
                        <ul>
                            <!-- <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="blog-single.html">John Doe</a></li> -->
                            <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a
                                    href="blog-single.html"><time datetime="2020-01-01">Jan 1, 2020</time></a>
                            </li>
                            <!-- <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a href="blog-single.html">12 Comments</a></li> -->
                        </ul>
                    </div>

                    <div class="entry-content">
                        <h3>Набираем команду</h3>
                        <span>
                            Обязанности: Разработка (дизайн\верстка) страниц, разработка сайтов клиентов,
                            шаблонов рассылок; Разработка vue приложений Разработка посадочных страниц;
                            Техническая поддержка клиентов.
                        </span>

                        <p>
                            Sit repellat hic cupiditate hic ut nemo. Quis nihil sunt non reiciendis. Sequi in
                            accusamus harum vel aspernatur. Excepturi numquam nihil cumque odio. Et voluptate
                            cupiditate.
                        </p>

                        <p>
                            Sed quo laboriosam qui architecto. Occaecati repellendus omnis dicta inventore
                            tempore provident voluptas mollitia aliquid. Id repellendus quia. Asperiores nihil
                            magni dicta est suscipit perspiciatis. Voluptate ex rerum assumenda dolores nihil
                            quaerat.
                            Dolor porro tempora et quibusdam voluptas. Beatae aut at ad qui tempore corrupti
                            velit quisquam rerum. Omnis dolorum exercitationem harum qui qui blanditiis neque.
                            Iusto autem itaque. Repudiandae hic quae aspernatur
                            ea neque qui. Architecto voluptatem magni. Vel magnam quod et tempora deleniti error
                            rerum nihil tempora.
                        </p>

                        <h3>Et quae iure vel ut odit alias.</h3>
                        <p>
                            Officiis animi maxime nulla quo et harum eum quis a. Sit hic in qui quos fugit ut
                            rerum atque. Optio provident dolores atque voluptatem rem excepturi molestiae qui.
                            Voluptatem laborum omnis ullam quibusdam perspiciatis nulla nostrum. Voluptatum est
                            libero
                            eum nesciunt aliquid qui. Quia et suscipit non sequi. Maxime sed odit. Beatae
                            nesciunt nesciunt accusamus quia aut ratione aspernatur dolor. Sint harum eveniet
                            dicta exercitationem minima. Exercitationem omnis asperiores
                            natus aperiam dolor consequatur id ex sed. Quibusdam rerum dolores sint consequatur
                            quidem ea. Beatae minima sunt libero soluta sapiente in rem assumenda. Et qui odit
                            voluptatem. Cum quibusdam voluptatem voluptatem
                            accusamus mollitia aut atque aut.
                        </p>

                        <h3>Ut repellat blanditiis est dolore sunt dolorum quae.</h3>
                        <p>
                            Rerum ea est assumenda pariatur quasi et quam. Facilis nam porro amet nostrum. In
                            assumenda quia quae a id praesentium. Quos deleniti libero sed occaecati aut porro
                            autem. Consectetur sed excepturi sint non placeat quia repellat incidunt labore.
                            Autem
                            facilis hic dolorum dolores vel. Consectetur quasi id et optio praesentium aut
                            asperiores eaque aut. Explicabo omnis quibusdam esse. Ex libero illum iusto totam et
                            ut aut blanditiis. Veritatis numquam ut illum ut a
                            quam vitae.
                        </p>
                        <p>
                            Alias quia non aliquid. Eos et ea velit. Voluptatem maxime enim omnis ipsa voluptas
                            incidunt. Nulla sit eaque mollitia nisi asperiores est veniam.
                        </p>

                    </div>

                    <div class="entry-footer">

                        <!-- <ul class="cats">
                            <li><a >Business</a></li>
                        </ul> -->


                        <ul class="tags">
                            <li><a>Creative</a></li>
                            <li><a>Tips</a></li>
                            <li><a>Marketing</a></li>
                            <div class="text-end">
                                <button type="button" class="btn btn-outline-success btn-sm">Откликнуться на
                                    вакансию</button>
                            </div>

                        </ul>
                    </div>

                </article>
                <!-- End blog entry -->

            </div>
            <!-- End blog entries list -->

            <div class="col-lg-4">
                <div class="sidebar">
                    <div class="text-center">
                        <h3 class="sidebar-title ">Информация о компании</h3>
                        <img src="assets/img/logo-company.jpg" class="rounded" alt="Cinque Terre" style="width: 50%;">
                        <div class="sidebar-item">
                            <p>BeepKey - web developers</p>
                        </div>
                    </div>


                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, incidunt sequi!
                        Dolorem reiciendis fuga sapiente ab impedit suscipit nobis rerum, officiis amet
                        doloremque, quae nam. Voluptates ullam alias in dolore.</p>
                </div>
                <!-- End sidebar -->

            </div>
            <!-- End blog sidebar -->

        </div>

    </div>
</section>
<!-- End Blog Single Section -->