<section class="border mt-3">
    <div class="d-flex justify-content-between align-items-center py-2">
        <figure class="picture" *ngIf="job?(job.company?(job.company.logo?true:false):false):false">
            <img src="Без названия.svg" class="img-fluid" alt="...">
        </figure>
        <div class="d-flex flex-column justify-content-between px-4">

            <h4 class="fw-bold text-primary"> {{job?job.title:''}}</h4>

            <div>
                <p>{{'dashboard.p1'|translate}}</p>
            </div>
            <div class="d-flex flex-row">
                <div> {{job?job.country:''}}, {{job?job.city:''}}</div>
                <div class="ps-2 ">{{'dashboard.create_date'|translate}}</div>
                <div class="ps-2 "> {{job?job.proposals.length:'0'}}</div>
            </div>
        </div>
        <div class="d-flex flex-row justify-content-around mx-4">

            <div class="text-center mx-2">
                Candadets
                <div class="d-flex flex-row justify-content-evenly">

                    <a class="text-success p-1">
                        {{getProposalRank(rank.good)}}
                        <br> Good
                    </a>
                    <a class="text-warning p-1"> {{getProposalRank(rank.average)}}
                        <br> Maybe
                    </a>
                    <a class="text-danger p-1"> {{getProposalRank(rank.not_fit)}}
                        <br>
                        Not a fit
                    </a>

                </div>
            </div>


            <div ngbDropdown class="align-self-center d-inline-block">
                <button class="btn btn0sm btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle> </button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <button ngbDropdownItem>Edit</button>
                    <button ngbDropdownItem>Delete</button>
                    <button ngbDropdownItem>Deactivate</button>
                </div>
            </div>
        </div>
    </div>
</section>