<section class="p-5">

    <div class="d-flex flex-column justify-content-center">
        <form [formGroup]="loginFG" class="px-3">
            <mat-form-field appearance="outline" style="width:100%" required>
                <mat-label>
                    Email
                </mat-label>
                <input matInput type="email" autocomplete="off" formControlName="email">
                <mat-error>

                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" style="width:100%">
                <mat-label>
                    Password
                </mat-label>
                <input matInput type="password" autocomplete="off" required formControlName="password">
            </mat-form-field>
            <div class="align-content-center">
                <button [disabled]="!loginFG.valid" (click)="loginProgress = !loginProgress;  login()"
                    class=" btn btn-lg btn-primary">
                    <span *ngIf="loginProgress" aria-hidden="true" class="spinner-border spinner-border-sm"
                        role="status"></span>
                    {{ "btns.login" | translate }}
                </button>
            </div>
        </form>
    </div>
</section>